@model CitasMedicasMVC.citas

@{
    ViewBag.Title = "Delete";
}

<h2>Cancelar Cita</h2>

<h3>¿Esta seguro que desea cancelar la cita?</h3>
<div>

    <hr />



    @if ( ViewBag.DateError != null)
    {
<div class="alert alert-danger" role="alert">
    @ViewBag.DateError
</div>
    }


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios1.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios1.nombres)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancelar Cita" class="btn btn-default" />
            <br />
            <br />
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
