@model CitasMedicasMVC.citas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>citas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios1.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios1.nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
