@model IEnumerable<CitasMedicasMVC.citas>

@{
    ViewBag.Title = "Lista de Citas";
}

<h2>Index</h2>

<p>
    @if (Session["user_profile"] != null && Session["user_profile"].ToString() == "paciente")
    {
        @Html.ActionLink("Crear Nueva", "Create")
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarios.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarios1.nombres)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarios.nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarios1.nombres)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) 
                @if (Session["user_profile"] != null && Session["user_profile"].ToString() == "paciente")
                { @Html.ActionLink(" | Eliminar", "Delete", new { id = item.id })}

            </td>
        </tr>
    }

</table>
